@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  font-family: "Inter";
  /* font-family: "Roboto"; */
  background-color: #f7f7f7;
}

#root {
  background-color: #f7f7f7;
}

.dark #root {
  background-color: #000;
}