@tailwind base;
@tailwind utilities;
@tailwind components;

@media (max-width: 640px) {
  html {
    font-size: 20px;
  }
}

#root {
  font-family: "Inter";
  /* font-family: "Roboto"; */
  background-color: theme('colors.background.DEFAULT');
}

:root {
  --action-hue: 240;
  --action-saturation: 56%;

  --neutral-hue: 227;
  --neutral-sat: 11%;

  --white: var(--neutral-hue) var(--neutral-sat) 100%;
  --white-100: var(--neutral-hue) var(--neutral-sat) 95%;
  --white-200: var(--neutral-hue) var(--neutral-sat) 90%;
  --white-300: var(--neutral-hue) var(--neutral-sat) 85%;
  --white-400: var(--neutral-hue) var(--neutral-sat) 80%;
  --white-500: var(--neutral-hue) var(--neutral-sat) 75%;
  --white-600: var(--neutral-hue) var(--neutral-sat) 70%;
  --white-700: var(--neutral-hue) var(--neutral-sat) 65%;
  --white-800: var(--neutral-hue) var(--neutral-sat) 60%;
  --white-900: var(--neutral-hue) var(--neutral-sat) 55%;

  --black: var(--neutral-hue) var(--neutral-sat) 0%;
  --black-100: var(--neutral-hue) var(--neutral-sat) 5%;
  --black-200: var(--neutral-hue) var(--neutral-sat) 10%;
  --black-300: var(--neutral-hue) var(--neutral-sat) 15%;
  --black-400: var(--neutral-hue) var(--neutral-sat) 20%;
  --black-500: var(--neutral-hue) var(--neutral-sat) 25%;
  --black-600: var(--neutral-hue) var(--neutral-sat) 30%;
  --black-700: var(--neutral-hue) var(--neutral-sat) 35%;
  --black-800: var(--neutral-hue) var(--neutral-sat) 40%;
  --black-900: var(--neutral-hue) var(--neutral-sat) 45%;
}

._floor {
  --background: var(--white);
  --background-alt: var(--white-200);
  --background-shade: var(--white-200);
  --color: var(--black-900);
  --color-strong: var(--black);
  --color-soft: var(--white-900);
  --heading: var(--black);
  --heading-soft: var(--black);
  --heading-sub: var(--white-900);
  --ring: var(--white-200);
  --ring-strong: var(--white-400);
  --ring-soft: var(--white);
  --symbol: var(--color);
  --symbol-strong: var(--color-strong);
  --symbol-soft: var(--color-soft);
}

._surface {
  --background: var(--white-100);
  --background-alt: var(--white-300);
  --background-shade: var(--white-300);
}

._ground {
  --background: var(--white-200);
  --background-alt: var(--white-400);
  --background-shade: var(--white-400);
}

._support {
  --action-hue: 510;
  --action-saturation: 61%;
}

._warn {
  --action-hue: 40;
  --action-saturation: 71%;
}

._block {
  --action-hue: 0;
  --action-saturation: 71%;
}

._action,
._action_fore {
  --action-color-50: var(--action-hue) var(--action-saturation) 90%;
  --action-color-100: var(--action-hue) var(--action-saturation) 80%;
  --action-color-200: var(--action-hue) var(--action-saturation) 70%;
  --action-color-300: var(--action-hue) var(--action-saturation) 60%;
  --action-color-400: var(--action-hue) var(--action-saturation) 55%;
  --action-color-500: var(--action-hue) var(--action-saturation) 50%;
  --action-color-600: var(--action-hue) var(--action-saturation) 45%;
  --action-color-700: var(--action-hue) var(--action-saturation) 40%;
  --action-color-800: var(--action-hue) var(--action-saturation) 30%;
  --action-color-900: var(--action-hue) var(--action-saturation) 20%;
  --action-color-950: var(--action-hue) var(--action-saturation) 10%;
}

._action {
  --background: var(--action-color-500);
  --background-alt: var(--action-color-600);
  --background-shade: var(--action-color-600);
  --color: var(--color-strong);
  --color-strong: var(--white);
  --color-soft: var(--color-strong);
  --heading: var(--color-strong);
  --heading-soft: var(--color-strong);
  --heading-sub: var(--color-strong);
  --ring: var(--action-color-700);
  --ring-strong: var(--action-color-800);
  --ring-soft: var(--action-color-600);
  --symbol: var(--color);
  --symbol-strong: var(--color-strong);
  --symbol-soft: var(--color-soft);
}

._action_fore {
  --color: var(--action-color-300);
  --color-strong: var(--action-color-600);
  --color-soft: var(--action-color-400);
  --heading: var(--action-color-600);
  --heading-soft: var(--action-color-500);
  --heading-sub: var(--action-color-500);
}

.dark ._floor {
  --background: var(--black);
  --background-alt: var(--black-200);
  --background-shade: var(--black-200);
  --color: var(--white-900);
  --color-strong: var(--white);
  --color-soft: var(--black-900);
  --heading: var(--white);
  --heading-soft: var(--white);
  --heading-sub: var(--black-900);
  --ring: var(--black-200);
  --ring-strong: var(--black-400);
  --ring-soft: var(--black);
  --symbol: var(--color);
  --symbol-strong: var(--color-strong);
  --symbol-soft: var(--color-soft);
}

.dark ._surface {
  --background: var(--black-200);
  --background-alt: var(--black-400);
  --background-shade: var(--black-400);
  --ring: var(--black-300);
  --ring-strong: var(--black-500);
  --ring-soft: var(--black-100);
}

.dark ._ground {
  --background: var(--black-300);
  --background-alt: var(--black-500);
  --background-shade: var(--black-500);
  --ring: var(--black-400);
  --ring-strong: var(--black-600);
  --ring-soft: var(--black-200);
}

body {
  background-color: rgb(var(--background));
}

* {
  @apply border-ring;
}

/* } */