@tailwind base;
@tailwind utilities;
@tailwind components;

#root {
  font-family: "Inter";
  /* font-family: "Roboto"; */
  background-color: #f7f7f7;
}

.dark #root {
  background-color: #000;

}

/* ._first {
  --background-base: 249 249 249;
  --background-shadow: 233 233 233;
  --background-opposite: 220 220 220;
  --ring-base: 215 215 215;
  --ring-strong: 180 180 180;
  --fore-heading-base: 55 55 55;
  --fore-heading-soft: 80 80 80;
  --fore-ground: 140 140 140;
  --fore-soft: 160 160 160;
  --fore-strong: 70 70 70;
  --fore-support: var(--picton-blue-500);
  --symbol: 140 140 140;
} */

._second {
  --background-base: 233 233 233;
  --background-shadow: 217 217 217;
  --background-opposite: 204 204 204;
  /* --ring-base: 215 215 215; */
  /* --ring-strong: 180 180 180; */
  /* --fore-heading-base: 55 55 55; */
  /* --fore-heading-soft: 80 80 80; */
  --fore-ground: 114 114 114;
  /* --fore-soft: ""; */
  /* --fore-strong: 60 60 60; */
  /* --fore-support: 10 10 10; */
  --symbol: 150 150 150;
}

._third {
  --background-base: 217 217 217;
  --background-shadow: 201 201 201;
  --background-opposite: 185 185 185;
  /* --ring-base: 215 215 215; */
  /* --ring-strong: 180 180 180; */
  /* --fore-heading-base: 55 55 55; */
  /* --fore-heading-soft: 80 80 80; */
  --fore-ground: 98 98 98;
  /* --fore-soft: ""; */
  /* --fore-strong: 60 60 60; */
  /* --fore-support: 10 10 10; */
  --symbol: 150 150 150;
}

._action {
  --background-base: var(--chateau-green-500);
  --background-shadow: 46 168 77;
  --background-opposite: var(--chateau-green-600);
  --ring-base: var(--chateau-green-500);
  --ring-strong: var(--chateau-green-600);
  /* --fore-heading-base: 55 55 55; */
  /* --fore-heading-soft: 80 80 80; */
  --fore-ground: 255 255 255;
  /* --fore-soft: ""; */
  /* --fore-strong: 60 60 60; */
  /* --fore-support: 10 10 10; */
  --symbol: 255 255 255;
}

._secondary {
  --background-base: var(--picton-blue-500);
  --background-shadow: var(--picton-blue-600);
  --background-opposite: var(--picton-blue-700);
  --ring-base: var(--picton-blue-500);
  --ring-strong: var(--picton-blue-600);
  /* --fore-heading-base: 255 255 255; */
  /* --fore-heading-soft: 200 200 200; */
  --fore-ground: 255 255 255;
  /* --fore-soft: ""; */
  /* --fore-strong: 210 210 210; */
  /* --fore-support: 10 10 10; */
  --symbol: 255 255 255;
}


/* --middleground-base: 233 233 233;
--middleground-shadow: 217 217 217;
--frontground-base: 217 217 217;
--frontground-shadow: 201 201 201; */

.dark ._first {
  --background-base: 0 0 0;
  --background-shadow: 236 236 236;
  --background-opposite: "";
  --ring-base: 47 47 47;
  --ring-strong: 70 70 70;
  --fore-heading-base: 255 255 255;
  --fore-heading-soft: 175 175 175;
  --fore-ground: 130 130 130;
  --fore-soft: 110 110 110;
  --fore-strong: 255 255 255;
  /* --fore-support: 10 10 10; */
  --symbol: 130 130 130;
}

.dark ._second {
  --background-base: 30 30 30;
  --background-shadow: 50 50 50;
  --background-opposite: "";
  /* --ring-base: 47 47 47; */
  /* --ring-strong: 70 70 70; */
  /* --fore-heading-base: 255 255 255; */
  /* --fore-heading-soft: 200 200 200; */
  --fore-ground: 145 145 145;
  /* --fore-soft: ""; */
  /* --fore-strong: 210 210 210; */
  /* --fore-support: 10 10 10; */
  --symbol: 145 145 145;
}

.dark ._third {
  --background-base: 50 50 50;
  --background-shadow: 60 60 60;
  --background-opposite: "";
  /* --ring-base: 47 47 47; */
  /* --ring-strong: 70 70 70; */
  /* --fore-heading-base: 255 255 255; */
  /* --fore-heading-soft: 200 200 200; */
  --fore-ground: 160 160 160;
  /* --fore-soft: ""; */
  /* --fore-strong: 210 210 210; */
  /* --fore-support: 10 10 10; */
  --symbol: 90 90 90;
}

.dark ._action {
  /* --background-base: var(--chateau-green-500); */
  /* --background-shadow: var(--chateau-green-950); */
  --background-opposite: "";
  --ring-base: var(--chateau-green-500);
  /* --ring-strong: 180 180 180; */
  /* --fore-heading-base: 55 55 55; */
  /* --fore-heading-soft: 80 80 80; */
  --fore-ground: var(--chateau-green-500);
  /* --fore-soft: ""; */
  /* --fore-strong: 60 60 60; */
  /* --fore-support: 10 10 10; */
  --symbol: var(--chateau-green-500);
}

.dark ._secondary {
  /* --background-base: var(--picton-blue-500); */
  /* --background-shadow: var(--picton-blue-600); */
  /* --background-opposite: var(--picton-blue-700); */
  /* --ring-base: 47 47 47; */
  /* --ring-strong: 70 70 70; */
  /* --fore-heading-base: 255 255 255; */
  /* --fore-heading-soft: 200 200 200; */
  /* --fore-ground: 255 255 255; */
  /* --fore-soft: ""; */
  /* --fore-strong: 210 210 210; */
  /* --symbol: 255 255 255; */
}